<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">

      <div class="footer-col footer-col-1">
        <ul class="social-media-list">

          <li>
            <a href="mailto:{{ site.email }}"><i class="fa fa-envelope fa-fw"></i></a>
          </li>

          <li>
            <a href="https://github.com/louislujing"><i class="fa fa-github fa-fw"></i></a>
          </li>

          <li>
            <a href="https://scholar.google.com/citations?user=WMLzC7IAAAAJ&hl"><i class="ai ai-google-scholar ai-fw"></i></a>
          </li>

          <li>
            <a href="https://researchgate.net/profile/lu_jing4"><i class="ai ai-researchgate ai-fw"></i></a>
          </li>

          <li>
            <a href="http://orcid.org/0000-0002-1876-1110"><i class="ai ai-orcid ai-fw"></i></a>
          </li>

        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <p>{{ site.description | escape }}</p>
      </div>

    </div>

  </div>

</footer>
