#bibbase {
  font-family: sans-serif; /* "Trebuchet MS", verdana, geneva, */
  font-size: 14px;
}

.bibbase_group {
  font-size: 9pt;
  font-weight: normal;
  text-decoration: none;
  color: #778899;
  background: none;
  padding: 0;
  padding-top: 5px;
}

.bibbase_paper {
  font-size: 10pt;
}

/* choose between icons and text (or both). Choose which one _not_ to show: */
img.bibbase_icon {
  display: none;
  text-decoration: none;
}

#img.bibbase_icon_text {
  display: none;
}

.bibbase_icon_text {
  color: #5D0001;
  font-size: 10pt;
  line-height: 12pt;
  margin-bottom: 10px;
  text-decoration: none;
}

.bibbase_icon_text:after {
  content: " | ";
}

span.bibbase_icon_text {
  text-decoration: none;
}

/* the parts of each entry are: title_author_year venue note (newline) content 
   where "content" is the set of urls and possibly an abstract
   */
span.bibbase_paper_titleauthoryear {
  color: #000000;
  font-size: 10pt;
  display: block;
}

span.bibbase_paper_title {
  color: #696969; //#000000;
  font-size: 11pt;
  line-height: 12pt;
  font-weight: 500;
  display: block;
  padding-top: 10px;
}

span.bibbase_paper_title a, span.bibbase_paper_title a:link, span.bibbase_paper_title a:visited {
  color: #5D0001;
  text-decoration: none;
  background-color: transparent;
  cursor: default; // prevent shownig a "hand" when pointed by mouse cursor
}

span.bibbase_paper_title a:hover {
  text-decoration: underline;
  background-color: transparent;
  pointer-events: none; // prevent linking to bibbase website
}

span.bibbase_paper_author {
  color: #000000;
  font-size: 10pt;
  line-height: 12pt;
  margin-bottom: 0px;
}

span.bibbase_paper_year {
  color: #000000;
  font-size: 10pt;
  line-height: 12pt;
  margin-bottom: 0px;
}

span.bibbase_paper_content {
  font-size: 10pt;
  line-height: 12pt;
  letter-spacing: -0.5px;
  text-decoration: none;
}

.bibbase_paper_content a {
  font-size: 10pt;
  line-height: 12pt;
  letter-spacing: -0.5px;
  text-decoration: none;
  margin-bottom: 10px;
}

span.bibbase_paper_venue {
  font-size: 9pt;
  line-height: 12pt;
  letter-spacing: -0.5px;
}

span.bibbase_paper_note {
  font-size: 10pt;
  line-height: 12pt;
  letter-spacing: -0.5px;
}

#bibbase_header {
  display: none;
}